.table{

    width: 100%;
    thead, tbody{
        display: block;
        border-collapse: collapse;
    }

    tr{
        text-align: left;
    }

    tbody{

        display: block;
        height: 600px;
        /* height: 442px; */
        overflow-y: auto;
        overflow-x: hidden;

    }

    
}
.H4ESPECIAL{
    margin-top: 50px !important;
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: var(--Medium);
}
.nombreSinCoincidencias{
    color: #00b3cf;
}
.Activo{
  opacity: 1;
}
.InActivo{
    opacity: 0;
    cursor:auto ;
}
.egreso{
    /* rojo */
    content: "";
    position: absolute;
    margin:  0px 0px 0px 0px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #FFC412;
}
.ingreso{
    /* amarillo */
       content: "";
    position: absolute;
    /* margin:  0px 0px 0px 0px; */
    margin:  0px 0px 0px 0px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #3EBB12;
}
.inversion{
    /* overflow-y: auto; */
    word-wrap: break-word;
    height: 100%;

    .H4ESPECIAL{
            margin-top: 40px;
            margin-bottom: 12px;
            font-size: 16px;
            font-weight: var(--Medium);
    }

    .card-1{
        width: 422px;
        /* width: 527px; */
        
        margin-top: 45px;
        margin-left: 22px;
        margin-right: 12px;
        margin-bottom: 23px;
        padding: 5px 30px;
    }


    & .container-modulos{
        /* display: grid; */
        grid-template-rows: 370px 390px ;
        & .separacion{
            display: flex;

            & .card{

                & .edicionRegistro{

                    right: 0px;
                    margin-bottom: 14px;
                    & h1{
                        margin-bottom: 0;
                        color: var(--Obligatorio);
                    }
                    & p{
                        color: #9BA1A6;
                        font-size: 11px;
                        margin: 0;
                        letter-spacing: .8px;
                    }
                }

                & .form{
                    
                    & h4{
                        margin-bottom: 12px;
                        font-size: 16px;
                        font-weight: var(--Medium);
                    }

                }

                & .Cliente > select:invalid,
                .Interes > select:invalid
                {
                    background: #BBBBBB ;
                    color: transparent;
                    background-clip: text;
                }

                & select option{
                    background: #ffffff;
                }


                & .Cliente{
                    width: 423px;
                    margin-right: 12px;
                    
                }
                & .Monto{
                    width: 194px;
                    margin-right: 12px;
                    
                }
                & .Interes{
                    /* margin-left: 292px; */
                    width: 205px;
                    & select{
                        text-overflow: ellipsis;
                    }
                    
                }
                & .fechaVencimiento{
                    width: 150px;
                    margin-right: 12px;
                    
                }
                & .comision{
                    font-size: 12px;
                    width: 100%;
                    margin: 60px 0 0 12px;
                    & span{
                        font-weight: var(--Normal);
                        margin: 0;
                    }
                    & p{
                        font-weight: var(--Medium);
                        margin: 0;
                    }
                }
                & .Ine{
                    margin-right: 12px;
                }

                & .boxComprobante{
                    margin-top: 30px;
                    justify-content: space-between;
                }

                & .AgregaComprobantes{
                    width: 420px;
                    margin-bottom: 6px;
                    & .cerrar-file{
                        right: 9px;
                    }
                }

                & .observaciones{
                    width: 405px;
                    height: 70px;
                }

                /* & .boxComprobante{
                    margin-top: 30px;
                    justify-content: space-between;
                }

                & .AgregaComprobantes{
                    width: 420px;

                    & .cerrar-file{
                        right: 30px;
                    }
                } */


                & .btnsRegistro{
                    position: absolute;
                    bottom: 19px;
                        & .G-C-Registro{
                            width: 423px;
                            height: 30px;
                            margin-bottom: 6px;
                        }
                    }

            }

/* -------------------------------------------------------------------------------------------------------------------------------------- */
            & .InformaciónAdicional-Busqueda{
                
                & .tabsNavAncho{
                    width: 705px;
                }

                & .Tipo_Movimiento{
                    max-width: 20px;
                    min-width: 20px;
                    padding: 0px 5px 0px 0px ;
                    & div{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                
                }

                & .ConceptoTb{
                    max-width: 130px;
                    min-width: 130px;
                    padding: 6px 8px 6px 8px ;
                }
                & .ClienteTb{
                    max-width: 130px;
                    min-width: 130px;
                    padding: 6px 8px 6px 8px ;
                }
                & .MontoTb{
                    max-width: 100px;
                    min-width: 100px;
                    padding: 6px 8px 6px 8px ;
                }
                & .fechaTb{
                    max-width: 80px;
                    min-width: 80px;
                    padding: 6px 8px 6px 8px ;
                }


                & .BusquedaDiv{
                    & .inputBusqueda{
                        
                        margin-bottom: 19px;
                        
                        & p{
                            font-size: 12px;
                            font-weight: var(--Normal);
                            color: #656565;
                        }
                        
                        & .Nombre-Cliente{
                            width: 440px;
                        }
                    }
                    
                    & .NuevaBusqueda{
                        width: 198px;
                    }
                    
                    & .table{

                        tbody{

                            display: block;
                            height: 442px;
                            overflow-y: auto;
                            overflow-x: hidden;

                        }
                     
                    }

                }

            }
        }
    }
}