
<div class="inversion">
    <div class="container-modulos">
        <div class="separacion">
            <div class="card-1 card">

                <!-- <form class="form"  [formGroup]="formulario()"> -->

                    <div>
                        <div class="d-flex">
                            <div class="col-10" [hidden]="editar ? false : true">
                                <h1 class="h1TitleCard">Presupuesto mensual</h1>
                            </div>
                            <!-- <button (click)="resetPresupuesto()" >carga</button>
                            <button (click)="ver()" >ver</button>   -->
        
                            <div class="edicionRegistro col-7" [hidden]="editar ? true: false">
                                <h1 class="h1TitleCard"><img src="/img-sai/icon-edicion-de-registro.png" style="width: 20px;">Edición de Registro</h1>
                                <p>Los cambios afectarán el registro</p>
                            </div>
                        </div>
                        <span  [hidden]="editar ? false: true">{{Hoy}}</span>
                    </div>
                <!-- -----------------------------------------------mensual----------------------------------------------------- -->
                <form class="form"  [formGroup]="mensual()">

                    <div class="d-flex">
                        <div class="MontoPresupuesto">
                            <h4 class="H4ESPECIA">Monto</h4>
                            <div class="">
                                <input class="MontoPresupuesto btnDisabled" type="text" formControlName="monto" #Monto placeholder="0.00" (change)="getCurrencyMonto( $event )" (input)="parseDigito2( $event )">
                            </div>
                        </div>
                        <div class="GuardarMonto">
                            <button type="submit" (click)="enviarMensual()" [classList]="mensual().valid ? 'btn G-C-Registro btnInActivo':'btn G-C-Registro btnActive'" >GUARDAR</button>
                        </div>
                        
                    </div>

                </form>
                <!-- -----------------------------------------------Abono----------------------------------------------------- -->
                <form class="form"  [formGroup]="abono()">
                    <div class="d-flex justify-content-between Abono">
                        <div class="Monto">
                            <h4 class=""><span [classList]="abono().get('monto')?.valid  ? 'Obligatiro-is-valid':'Obligatiro-is-invalid' ">*</span> Abono</h4>
                            <div class="">
                                <input class="Monto btnDisabled" type="text" formControlName="monto" #Abono placeholder="0.00" (change)="getCurrencyAbono( $event )" (input)="parseDigito2( $event )">
                            </div>
                        </div>
                        <div class="Esquema">
                            <h4 class="L"><span [classList]="abono().get('id_cuentaB')?.valid  ? 'Obligatiro-is-valid':'Obligatiro-is-invalid' ">*</span> Cuenta de pago</h4>
                            <div class="select Esquema">
                                <select required class="btnDisabled" #CPago formControlName="id_cuentaB" (change)="esquemaComision( $event )">
                                    <option value="" disabled selected hidden>Elige la cuenta de Abono</option>
                                    @for(item of array[1]; track $index ){
                                        <option [value]="item.Id_CuentaB">{{item.alias}}</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="d-flex btnsRegistro">
                        <div class="row ">
                            <button type="submit" (click)="enviarAbono()" [hidden]="editar ? false:true" [classList]="abono().valid ? 'btn G-C-Registro btnInActivo':'btn G-C-Registro btnActive'" >GUARDAR</button>
                            <button type="submit" (click)="ActualizarAbono()" [hidden]="editar ? true:false" [classList]="abono().valid ? 'btn G-C-Registro btnInActivo':'btn G-C-Registro btnActive'" >ACTUALIZAR CAMPOS</button>
                            <button class="btn-second G-C-Registro mr-12 btnDisabled" type="button" #cancelar (click)="resetForm()">CANCELAR</button>
                        </div>
                    </div>
                </form>
                
                <!-- ------------------------------------------------Presupuesto---------------------------------------------------- -->
                <form class="form"  [formGroup]="ajustePresupuesto()">


                    <h1 class="h1TitleCard PresMensual">Ajustes al presupuesto</h1>
                    
                    <div class="form-check">
                        <div class="check">
                            <label  class="form-check-label" >Incremento</label>
                            <label class="label-container" >
                                <input type="radio" class="btnDisabled" #radioBtn1 (change)="ajustePresupuesto().patchValue({'tipo':'Incremento'})" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="check Second-check">
                            <label  class="form-check-label" >Disminución</label>
                            <label class="label-container" >
                                <input type="radio" class="btnDisabled" #radioBtn2 (change)="ajustePresupuesto().patchValue({'tipo':'Disminucion'})" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    
                    <div class="d-flex incrementoOberv">
                        
                        <div class="">
                            <h4 class=""><span [classList]="ajustePresupuesto().get('monto')?.valid  ? 'Obligatiro-is-valid':'Obligatiro-is-invalid' ">*</span> Monto</h4>
                            <!-- <h4 class="">Monto</h4> -->
                            <div class="">
                                <input class="MontoIncremento btnDisabled" type="text" formControlName="monto" #MontoPresupuesto  placeholder="0.00" (change)="getCurrencyPresupuesto( $event )" (input)="parseDigito2( $event )">
                            </div>
                        </div>
                        
                        <div class="divObservaciones">
                            <h4 class=""><span [classList]="ajustePresupuesto().get('observaciones')?.valid  ? 'Obligatiro-is-valid':'Obligatiro-is-invalid' ">*</span> Observaciones</h4>
                            <input class="observaciones btnDisabled" type="text" formControlName="observaciones" #Observaciones placeholder="Observaciones" >
                            <!-- <textarea class="observaciones" name="" id="" formControlName="Observaciones" rows=0 cols=0 placeholder="Observaciones"></textarea> -->
                        </div>
                        
                    </div>
                    <div class="GuardarIncremento">
                        <button type="submit" (click)="AjustePresupuesto()" [classList]="ajustePresupuesto().valid ? 'btn G-C-Registro btnInActivo':'btn G-C-Registro btnActive'" >GUARDAR</button>
                    </div>

                </form>
                <!-- ---------------------------------------------------------------------------------------------------- -->

            </div>

            <form class="InformaciónAdicional-Busqueda" >

                <div class="tabsNav tabsNavAncho">

                    <div class="tab">
                        <input type="radio" #TabsInformacion name="tabs" id="t1" checked>

                    <!-- ------------------CARD HISTORICO--------------------- -->

                        <label class="Extra" for="t1">Histórico</label>

                        <div class="InformaciónAdicional DivContainer">
                            <h1 class="h1TitleCardTab">Historial de  Movimientos</h1>
                            <div class="TableBusqueda">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="thead-th-blod-No-Border th-just-left ConceptoTb">Movimiento</th>
                                        <th class="thead-th-blod-No-Border th-just-left- text-center MontoTb">Monto</th>
                                        <th class="thead-th-blod-No-Border th-just-left- text-center MontoTb">Cta. Pago</th>
                                        <th class="thead-th-blod-No-Border th-just-left- text-center fechaTb">Fecha</th>
                                        <th class="thead-th-blod-No-Border "></th>
                                    </tr>
                                    </thead>
                                    <tbody class="">
                                        @for( item of arrayHistorico[0]; track $index ){
                                            <tr>
                                                <td class="tbody-td-ligth-No-Border ConceptoTb">{{item.Movimiento}}</td>
                                                <td class="tbody-td-ligth-No-Border text-center MontoTb">{{getCurrencyTable(item.Monto)}}</td>
                                                <td class="tbody-td-ligth-No-Border text-center MontoTb">{{item.ctaPago}}</td>
                                                <td class="tbody-td-ligth-No-Border text-center fechaTb">{{formatoFechaLatina(item.Fecha)}}</td>
                                                @if( item.Movimiento === 'Abono' ){
                                                    <td class="TD_Option"><button type="button" (click)="editaroMov( item.Id_Fondeo )" class="TdOptionsTable"><img src="/img-sai/icon-edith.png"></button></td>
                                                    <td class="TD_Option"><button type="button" (click)="eliminaroMov( item.Id_Fondeo )" class="TdOptionsTable"><img src="/img-sai/icon-trash.png"></button></td>
                                                }@else {
                                                    <td class="TD_Option"></td>
                                                    <td class="TD_Option"></td>
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                    <!-- ---------------------------------------------- -->
                    <!-- ------------------CARD BUSQUEDA --------------------- -->

                    <!-- <div class="tab">
                        <input type="radio" #TabsBusqueda name="tabs" id="t2">

                        <label class="Busqueda" for="t2">Búsqueda</label>
                        <div class="BusquedaDiv DivContainer">
                            <h1 class="h1TitleCardTab">Búsqueda</h1>
                            <div class="inputBusqueda">
                                <p>Para hacer una búsqueda escribe el identificador del Esquema o el monto de la Operación</p>
                                <input class="Nombre-Cliente" #Busqueda type="text" placeholder="Nombre ó número de Cliente " (input)="inputBusqueda($event)">
                            </div>
                            <div class="">
                                <button class="btn NuevaBusqueda mr-12" (click)="busqueda()" [disabled]="disabledBtn"
                                    [classList]="disabledBtn ? 'btn NuevaBusqueda mr-12 btnActive':'btn NuevaBusqueda mr-12 btnInActivo'"
                                    type="button">Nueva búsqueda
                                </button>
                            </div>
                            <h1 class="h1TitleCardTab">Coincidencias</h1>

                            <div class="TableBusqueda">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="thead-th-blod-No-Border Tipo_Movimiento"></th>
                                        <th class="thead-th-blod-No-Border th-just-left ConceptoTb">Esquema</th>
                                        <th class="thead-th-blod-No-Border th-just-left- text-center MontoTb">Monto</th>
                                        <th class="thead-th-blod-No-Border th-just-left- text-center MontoTb">Comisión</th>
                                        <th class="thead-th-blod-No-Border th-just-left- text-center fechaTb">Fecha</th>
                                        <th class="thead-th-blod-No-Border "></th>
                                    </tr>
                                    </thead>
                                    <tbody class="">
                                        @for( item of listaBusqueda[0]; track $index ){
                                            <tr>
                                                <td class="tbody-td-ligth-No-Border Tipo_Movimiento"><div><span [classList]="item.Estatus_Pagado == '1' ? 'ingreso':'egreso' "></span></div></td>
                                                <td class="tbody-td-ligth-No-Border ConceptoTb">{{item.esquema}}</td>
                                                <td class="tbody-td-ligth-No-Border text-center MontoTb">{{getCurrencyTable(item.Monto)}}</td>
                                                <td class="tbody-td-ligth-No-Border text-center MontoTb">{{getCurrencyTable(item.Comision)}}</td>
                                                <td class="tbody-td-ligth-No-Border text-center fechaTb">{{formatoFechaLatina(item.fecha)}}</td>

                                                <td class="TD_Option"><button type="button" [disabled]="item.Estatus_Pagado == '1' ? true:false" (click)="verCambiaEstatusPagadoId( item.Id_Mov_Fact )" class="TdOptionsTable"><img [src]="item.Estatus_Pagado == '1' ?  '/img-sai/icon-flecha-doblada-gris.png' : '/img-sai/icon-flecha-doblada-azul.png' " ></button></td>
                                                <td class="TD_Option"><button type="button" (click)="editaroMov( item.Id_Mov_Fact )" class="TdOptionsTable"><img src="/img-sai/icon-edith.png"></button></td>
                                                <td class="TD_Option"><button type="button" (click)="eliminaroMov( item.Id_Mov_Fact )" class="TdOptionsTable"><img src="/img-sai/icon-trash.png"></button></td>
                                            </tr>
                                        }
                                    </tbody>
                                  </table>
                            </div>
                        </div>
                    </div> -->

                </div>

            </form>

        </div>
    </div>
</div>



