<div class="comisionistas">
    <div class="container-modulos">
        <div class="separacion">
            <div class="card-1 card">
                <div>

                    <div class="d-flex">
                        <div class="col-7" [hidden]="editar ? false : true">
                            <h1 class="h1TitleCard">Agregar Cuenta</h1>
                        </div>
                        <!-- <button (click)="editarCuenta(14)" >carga</button> 
                        <button (click)="ver()" >ver</button>  -->
    
                        <div class="edicionRegistro col-7" [hidden]="editar ? true: false">
                            <h1 class="h1TitleCard"><img src="/img-sai/icon-edicion-de-registro.png" style="width: 20px;">Edición de Registro</h1>
                            <p>Los cambios afectarán el registro</p>
                        </div>
                    </div>
    
                    <span  [hidden]="editar ? false: true">{{Hoy}}</span>
                </div>

                <form class="form" [formGroup]="formulario()">

                    <div class="d-flex">

                        <div class="">
                            <h4 class="H4ESPECIAL"><span [classList]="formulario().get('clabe')?.valid ? 'Obligatiro-is-valid':'Obligatiro-is-invalid'" >*</span> No. de cuenta CLABE</h4>
                            <input [classList]= "movimientos ?  'btnDisabled noClave': 'noClave' " type="text" maxLength="23" placeholder="Cuenta Clabe" [disabled]="movimientos ? true:false" #ClaveInput (change)="setFormularioClave( $event )" (input)="formatDigitoBancarios( $event, 3 )">
                        </div>
                        <div class="">
                            <h4 class="H4ESPECIAL">No de Cuenta</h4>
                            <input class="noCuenta" type="text" maxLength="24" placeholder="20 dígitos máximo" #noCuentaInput (change)="setFormularioNoCuenta( $event )" (input)="formatDigitoBancarios( $event, 4 )">                        
                        </div>

                    </div>

                    <div class="d-flex">

                        <div>
                            <h4>No. de Tarjeta</h4>                            
                            <input class="noTargeta" type="text" maxLength="19" placeholder="16 dígitos" #TargetaInput  (change)="setFormularioTarjeta( $event )" (input)="formatDigitoBancarios( $event, 4 )">                         
                        </div>
                        <div>
                            <h4 class=""><span [classList]="formulario().get('nombreBanco')?.valid ? 'Obligatiro-is-valid':'Obligatiro-is-invalid'" >*</span> Institución Bancaria</h4>
                            <input class="nombreBanco" type="text"  placeholder="Nombre del banco" formControlName="nombreBanco">                        
                        </div>

                    </div>

                    <div class="d-flex">

                        <div>
                            <h4 class=""><span [classList]="formulario().get('alias')?.valid ? 'Obligatiro-is-valid':'Obligatiro-is-invalid'" >*</span> Alias de la cuenta</h4>
                            <input class="alias" type="text"  placeholder="Inbursa 1" formControlName="alias">                         
                        </div>

                    </div>

                    <div class=" d-flex modeloDivisasSaldo justify-content-between">
                        <div class="modelo">
                            <h4 class="H4ESPECIAL"><span [classList]="formulario().get('modelo')?.valid ? 'Obligatiro-is-valid':'Obligatiro-is-invalid'" >*</span> Modelo de Negocio</h4>

                            <div class="select modelo" >
                                <span class="spanExedioCaractereSelect" [ariaSelected]="true" [hidden]="selectModelo">...</span>
                                <select required #modeloSelect formControlName="modelo"  [classList]=" movimientos ? 'btnDisabled' : ''">
                                    <option value="" disabled selected hidden>Elige un modelo</option>
    
                                    @for(item of arrayModelo[0]; track $index ){
                                        <option [value]="item.Id_ModeloNegocio">{{item.Modelo_Negocio}}</option>                                    
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="moneda">
                            <h4 class="H4ESPECIAL"><span [classList]="formulario().get('moneda')?.valid ? 'Obligatiro-is-valid':'Obligatiro-is-invalid'" >*</span> Divisa</h4>
                            <div class="select moneda">
    
                                <span class="spanExedioCaractereSelect" [hidden]="selectDivisa">...</span>
                                <select required #monedaSelect formControlName="moneda" [classList]=" movimientos ? 'btnDisabled' : ''">
                                    <option value="" disabled selected hidden>Elige una divisa</option>
                                    @for(item of arrayDivisa[0]; track $index ){
                                        <option  [value]="item.Moneda">{{item.Moneda}}</option>
                                    }
                                </select>
    
                            </div>
                        </div>

                        <div class="">
                            <h4 class="H4ESPECIAL">Saldo Inicial</h4>
                            <input [classList]=" movimientos ? 'btnDisabled saldoInicial' : 'saldoInicial'" [disabled]="movimientos ? true:false" type="text" #saldoInicialInput placeholder="0.00" (change)="getCurrencySaldo( $event )" (input)="parseDigito2( $event )">
                        </div>

                    </div>

                    <div class="d-flex btnsRegistro">
                        <div class="row ">
                            <button type="submit" (click)="enviar()" [hidden]="editar ? false:true" [classList]="formulario().valid ? 'btn G-C-Registro btnInActivo':'btn G-C-Registro btnActive'" >GUARDAR REGISSTRO</button>
                            <button type="submit" (click)="ActualizarRegistro()" [hidden]="editar ? true:false" [classList]="formulario().valid ? 'btn G-C-Registro btnInActivo':'btn G-C-Registro btnActive'" >ACTUALIZAR CAMPOS</button>

                            <button class="btn-second G-C-Registro mr-12" type="button" (click)="resetForm()">CANCELAR</button>
                        </div>
                    </div>

                </form>

            </div>

            <form class="InformaciónAdicional-Busqueda" [formGroup]="formulario()">

                <div class="tabsNav tabsNavAncho">

                    <div class="tab">
                        <input type="radio" #TabsBusqueda name="tabs" id="t2" checked>

                        <label class="Busqueda" for="t2">Búsqueda</label>
                        <div class="BusquedaDiv DivContainer">
                            <h1 class="h1TitleCardTab">Búsqueda</h1>
                                <div class="inputBusqueda">
                                    <p>Para hacer una búsqueda escribe el Alias de la Cuenta o la Institución Bancaria</p>
                                    <input class="Nombre-Cliente" #Busqueda type="text" placeholder="Nombre ó número de Cliente " (input)="inputBusqueda($event)">
                                </div>
                                <div class="">
                                    <button class="btn NuevaBusqueda mr-12" (click)="busqueda()" [disabled]="disabledBtn" [classList]="disabledBtn ? 'btn NuevaBusqueda mr-12 btnActive':'btn NuevaBusqueda mr-12 btnInActivo'" type="button">Nueva búsqueda</button>
                                </div>
                                <h1 class="h1TitleCardTab">Coincidencias</h1>

                                <div class="TableBusqueda">
                                    <table class="table">
                                        <thead>
                                          <tr>
                                            <th class="thead-th-blod-No-Border th-just-left noCuenta">No. de cuenta</th>
                                            <th class="thead-th-blod-No-Border text-center alias">Alias</th>
                                            <th class="thead-th-blod-No-Border text-center nombreBanco">Institución</th>
                                            <th class="thead-th-blod-No-Border text-center modelo">Modelo</th>
                                            <th class="thead-th-blod-No-Border "></th>
                                          </tr>
                                        </thead>
                                        <tbody class="">
                                            @for( item of listaBusqueda[0]; track $index ){
                                                <tr>
                                                    <td class="tbody-td-ligth-No-Border noCuenta">{{item.clabe}}</td>
                                                    <td class="tbody-td-ligth-No-Border text-center alias">{{item.alias}}</td>
                                                    <td class="tbody-td-ligth-No-Border text-center nombreBanco">{{item.nombreBanco}}</td>
                                                    <td class="tbody-td-ligth-No-Border text-center modelo">{{item.modelo}}</td>
                                                    <td class="TD_Option"><button type="button" (click)="verDatosCuenta( item.Id_cuenta )" class="TdOptionsTable"><img src="/img-sai/ojito_abierto.png"></button></td>
                                                    <td class="TD_Option"><button type="button" (click)="editarCuenta( item.Id_cuenta )" class="TdOptionsTable"><img src="/img-sai/icon-edith.png"></button></td>
                                                    
                                                    <td class="TD_Option"><button type="button" [disabled]="item.Movimientos == '1' ? true:false" (click)="eliminarCuenta( item.Id_cuenta )" class="TdOptionsTable"><img [src]="item.Movimientos == '1' ?  '/img-sai/icon-trash-gris.png' : '/img-sai/icon-trash.png' " ></button></td>

                                                    <!-- <td class="TD_Option"><button type="button" (click)="eliminarCuenta( item.Id_cuenta )" class="TdOptionsTable"><img src="/img-sai/icon-trash.png"></button></td> -->
                                                </tr>
                                            }
                                        </tbody>
                                      </table>
                                </div>
                        </div>
                    </div>
                    
                </div>

            </form>

        </div>
    </div>
</div>


