
<aside>
    <div class="sidebar">
        <ul>
            <li>
                <div class="link-side ">
                    <a href="" ><div class="icon"><img src="img-sai/icon-home.png" alt="link-side"></div>Inicio</a>
                </div>
            </li>
            <li>
                <div class="link-side ">
                    
                    <a href="" ><div class="icon"><img src="img-sai/icon-movments.png" alt="link-side"></div>Movimientos</a>
                </div>
            </li>
            <li>
                <div class="link-side">
                    
                    <a href="" ><div class="icon"><img src="img-sai/icon-client.png" alt="link-side"></div>Clientes</a>
                </div>
            </li>
            <li>
                <div class="link-side">
                    
                    <a href="" ><div class="icon"><img src="img-sai/icon-acounts.png" alt="link-side"></div>Cuentas</a>
                </div>
            </li>
            <li>
                <div class="link-side">
                    <a href="" ><div class="icon"><img src="img-sai/icon-reports.png" alt="link-side"></div>Reportes</a>
                </div>
            </li>
            <li>
                <div class="link-side">
                    
                    <a href="" ><div class="icon"><img src="img-sai/icon-alert.png" alt="link-side"></div>No reconocidos</a>
                </div>
            </li>
            <li>
                <div class="link-side">
                    
                    <a href="" ><div class="icon"><img src="img-sai/icon-specials.png" alt="link-side"></div>Especiales</a>
                </div>
            </li>
            <li>
                <div class="link-side">
                    
                    <a href="" ><div class="icon"><img src="img-sai/icon-contratos.png" alt="link-side"></div>Contratos</a>
                </div>
            </li>
        </ul>
    </div>
</aside>

