
<div class="dashboard">
  <div class="container">
    <div class="separacion">
      <div class="prestamos-internos card">
        <!-- <button (click)="ver()">ver</button> -->
        <h1>Préstamos internos</h1>
          <table class="table">
            <thead>
              <tr>
                <th class="thead-th-blod">Cliente</th>
                <th class="thead-th-blod">Monto</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="tbody-td-ligth">Sebastián</td>
                <td class="tbody-td-bold">$100,000.00</td>
              </tr>
              <tr>
                <td class="tbody-td-ligth">Brenda</td>
                <td class="tbody-td-bold">$100,000.00</td>
              </tr>
            </tbody>
          </table>
        </div>
      <div class="saldos-cuentas-propias card">
        <h1>Saldos de Cuentas Propias</h1>
        <table class="table">
          <thead>
            <tr>
              <th class="thead-th-blod">Banco</th>
              <th class="thead-th-blod">Identificador</th>
              <th class="thead-th-blod">No. de Cuenta</th>
              <th class="thead-th-blod">Clabe</th>
              <th class="thead-th-blod">U. Negocio</th>
              <th class="thead-th-blod">Saldo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="tbody-td-ligth">Santander</td>
              <td class="tbody-td-ligth">01</td>
              <td class="tbody-td-ligth">01258785412587541</td>
              <td class="tbody-td-ligth">158745236987452547</td>
              <td class="tbody-td-ligth">Bankers</td>
              <td class="tbody-td-bold">$100,000.00</td>
            </tr>
            <tr>
              <td class="tbody-td-ligth">Santander</td>
              <td class="tbody-td-ligth">01</td>
              <td class="tbody-td-ligth">01258785412587541</td>
              <td class="tbody-td-ligth">158745236987452547</td>
              <td class="tbody-td-ligth">Bankers</td>
              <td class="tbody-td-bold">$100,000.00</td>
            </tr>
            <tr>
              <td class="tbody-td-ligth">Santander</td>
              <td class="tbody-td-ligth">01</td>
              <td class="tbody-td-ligth">01258785412587541</td>
              <td class="tbody-td-ligth">158745236987452547</td>
              <td class="tbody-td-ligth">Bankers</td>
              <td class="tbody-td-bold">$100,000.00</td>
            </tr>
            <tr>
              <td class="tbody-td-ligth">Santander</td>
              <td class="tbody-td-ligth">01</td>
              <td class="tbody-td-ligth">01258785412587541</td>
              <td class="tbody-td-ligth">158745236987452547</td>
              <td class="tbody-td-ligth">Bankers</td>
              <td class="tbody-td-bold">$100,000.00</td>
            </tr>
            <tr>
              <td class="tbody-td-ligth">Santander</td>
              <td class="tbody-td-ligth">01</td>
              <td class="tbody-td-ligth">01258785412587541</td>
              <td class="tbody-td-ligth">158745236987452547</td>
              <td class="tbody-td-ligth">Bankers</td>
              <td class="tbody-td-bold">$100,000.00</td>
            </tr>
            <tr>
              <td class="tbody-td-ligth">Santander</td>
              <td class="tbody-td-ligth">01</td>
              <td class="tbody-td-ligth">01258785412587541</td>
              <td class="tbody-td-ligth">158745236987452547</td>
              <td class="tbody-td-ligth">Bankers</td>
              <td class="tbody-td-bold">$100,000.00</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="separacion">
      <div class="adeudo-europe card">
        <h1>Préstamos internos</h1>
        <table class="table">
          <thead>
            <tr>
              <th class="thead-th-blod">Cliente</th>
              <th class="thead-th-blod">Monto</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="tbody-td-ligth">Rivelino</td>
                <td class="tbody-td-bold">$100,000.00</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="diferencia-saldos card">
        <h1>Saldos de Cuentas Propias</h1>
        <table class="table">
          <thead>
            <tr>
              <th class="thead-th-blod">Banco</th>
              <th class="thead-th-blod">Identificador</th>
              <th class="thead-th-blod">Saldo anterior</th>
              <th class="thead-th-blod">Saldo actual</th>
              <th class="thead-th-blod">Diferencia</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="tbody-td-ligth">Santander</td>
              <td class="tbody-td-ligth">01</td>
              <td class="tbody-td-ligth">$100,000.00</td>
              <td class="tbody-td-ligth">
                <div class="form-group-icon">
                  <span class="icon">
                    $
                 </span>
                 <input type="text">
                </div>
              </td>
              <td class="tbody-td-bold">$100,000.00</td>
            </tr>
            <tr>
              <td class="tbody-td-ligth">Santander</td>
              <td class="tbody-td-ligth">01</td>
              <td class="tbody-td-ligth">$100,000.00</td>
              <td class="tbody-td-ligth">
                <div class="form-group-icon">
                  <span class="icon">
                    $
                 </span>
                 <input type="text">
                </div>
              </td>
              <td class="tbody-td-bold">$100,000.00</td>
            </tr>
            <tr>
              <td class="tbody-td-ligth">Santander</td>
              <td class="tbody-td-ligth">01</td>
              <td class="tbody-td-ligth">$100,000.00</td>
              <td class="tbody-td-ligth">
                <div class="form-group-icon">
                  <span class="icon">
                    $
                 </span>
                 <input type="text">
                </div>
              </td>
              <td class="tbody-td-bold">$100,000.00</td>
            </tr>
           
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
