/* .prueba{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow-y: auto;
} */

.dashboard {
    /* overflow-y: hidden; */
    word-wrap: break-word;
    height: 100%;



    & h1 {
        margin: 0;
        font-size: 20px;
        font-weight: var(--Medium);
        margin-bottom: 12px;
        margin-left: 3px;
    }

    .H1PI,
    .H1AE,
    .abonos {
        margin-left: 45px;
    }


    .H4DG {
        color: #00B3CF;
        font-size: 15px;
        font-weight: var(--Normal);
        margin-top: 7px;
        margin-bottom: 0px;
        margin-left: 370px;

        & span {
            margin-left: 10px;
        }
    }

    .H4DG1 {
        color: #00B3CF;
        font-size: 15px;
        font-weight: var(--Normal);
        margin-top: 12px;
        margin-bottom: 0px;
        margin-left: 370px;

        & span {
            margin-left: 10px;
        }
    }

    .abonos {
        margin-top: 21px;
    }

    .concentradora{
        color: #00B3CF;
        font-size: 15px;
        font-weight: var(--Normal);
        margin: 7px 0 0 0;
    }


    & .container-modulos {
        /* display: grid;
        justify-content: center;
        margin-left: 180px; */


        /* position: relative; */
        /* left: 20px; */

        grid-template-rows: 370px 390px;

        & .separacion {
            display: flex;

            & .prestamos-internos {
                margin-top: 45px;
                margin-left: 22px;
                margin-right: 12px;
                margin-bottom: 23px;
                width: 320px;
                /* width: 450px; */
                height: 290px;
                /* height: 273px; */


            }

            & .saldos-cuentas-propias {
                margin-top: 45px;
                margin-left: 12px;
                margin-right: 22px;
                margin-bottom: 23px;
                width: 720px;
                /* width: 980px; */
                height: 290px;
                /* height: 273px; */


            }

            & .adeudo-europe {
                margin-top: 17px;
                margin-left: 22px;
                margin-right: 12px;
                margin-bottom: 23px;
                width: 320px;
                /* width: 450px; */
                height: 325px;


            }

            & .diferencia-saldos {
                margin-top: 17px;
                margin-left: 12px;
                margin-right: 22px;
                margin-bottom: 23px;
                width: 720px;
                height: 325px;


            }
        }
    }

}

.PrestInt {
    max-width: 110px;
    min-width: 110px;
    padding-left: 45px;
}

.AdeudoEurope {
    max-width: 110px;
    min-width: 110px;
    padding-left: 45px;
}

.AdeudoEurope-Monte {
    max-width: 103px;
    min-width: 103px;
    padding-left: 45px;
}


/* --------saldos de cuentas propias------- */

.th-banco1 {
    max-width: 95px;
    min-width: 95px;
    padding: 6px 3px 6px 3px;
}

.th-indet1 {
    max-width: 70px;
    min-width: 70px;
    padding: 6px 3px 6px 3px;

    & span {
        display: flex;
        justify-content: left;
        text-align: left;
    }
}

.th-cuen1 {
    max-width: 110px;
    min-width: 110px;
    padding: 6px 3px 6px 3px;
}

.th-clabe1 {
    max-width: 125px;
    min-width: 125px;
    padding: 6px 3px 6px 3px;
}

.th-negocio1 {
    max-width: 110px;
    min-width: 110px;
    padding: 6px 3px 6px 3px;
}

.th-saldo1 {
    max-width: 150px;
    min-width: 150px;
    padding: 6px 3px 6px 3px;
}

/* ----------------------------------- */


/* --------Diferencia de saldos------- */
.DS-banco {
    max-width: 95px;
    min-width: 95px;
    padding: 6px 3px 6px 3px;
}

.DS-ident {
    max-width: 70px;
    min-width: 70px;
    padding: 6px 3px 6px 3px;
    text-align: left;

    & span {
        display: flex;
        justify-content: left;
        text-align: left;
    }
}

.DS-SAnterior {
    max-width: 88px;
    min-width: 88px;
    padding: 6px 3px 6px 3px;
}

.DS-SActual {
    max-width: 260px;
    min-width: 260px;
    /* max-width: 180px;
   min-width: 180px; */
    padding: 6px 3px 6px 3px;
}

.DS-Guardar {
    max-width: 70px;
    min-width: 70px;
    padding: 6px 3px 6px 3px;
}

.DS-difer {
    max-width: 155px;
    min-width: 155px;
    padding: 6px 3px 6px 3px;
}


.btn-DS {
    border: none;
    padding: 3px 15px;
    margin-left: 15px;
    border-radius: 2px;
    background: #BBBBBB;
    font-size: 10px;
    font-weight: var(--Normal);
}

.btn-DS-Active {
    background: #00B3CF;
    color: #ffffff;
}

/* ----------------------------------- */


thead,
tbody {
    display: block;
    border-collapse: collapse;
}

tr {
    text-align: left;
}


tbody {
    display: block;
    height: 220px;
    overflow-y: auto;
    overflow-x: hidden;
}

.tbody-AE {
    display: block;
    height: 30px;
    overflow-y: auto;
    overflow-x: hidden;
}

.tbody-Abonos {
    /* background: #00B3CF; */
    display: block;
    height: 105px;
    /* height: 120px; */
    overflow-y: auto;
    overflow-x: hidden;
}

.tbody-DS {
    display: block;
    height: 220px;
    overflow-y: auto;
    overflow-x: hidden;
}

.form-group-icon-SD {

    display: flex;

    & .input-Saldo-Actual {

        position: relative;

        & .icon {
            position: absolute;
            display: block;
            bottom: .3rem;
            left: .5rem;

        }

        & input {

            border: 1px solid #939393;
            height: 18px;
            border-radius: 2px;
            font-size: 12px;
            color: rgb(56, 56, 56);
            font-weight: var(--Normal);
            padding-top: 2px;
            margin: 1px;
            padding-left: 1rem;
        }

        & input[type="text"]:focus {
            border: 1px solid #D8D8D8;
            background-color: #D8D8D8;
            outline: none;
        }
    }

}


/* --------------------------------------------------------------------- */

/* .aside{
    background-color: #ffffff;
    left: calc(100vw / 2 - 650px);
    top: 134px;
    width: 169px;
    z-index: 1000; 
}

.nuevoAsit{
  left: calc(100vw / 2 - 700px);
}

@media ( max-width: 1400px ) {

    .nuevoAsit{
      left: 0;
    }
  }
  @media ( max-width: 1300px ) {
  .aside{
    left: 0;
  }
}

.sidebar{

    background-color: #00B3CF;
    height: 700px;

    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;

    align-items: center;
    position: relative;

}

.mcd-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 169px;
}
.mcd-menu li {
  position: relative;
  width: 100%;
  text-align: center;
}
.mcd-menu li a {

    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
    font-weight: var(--Medium);
    text-align: center;
}

.link-side{
  background-color: #00B3CF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 87.5px;
    width: 169px; 
}

.link-side_hijos{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 45px;
  width: 180px; 
  background-color: #00B3CF;
}



.mcd-menu li:hover a > .link-side{
  background: #0195AC;
}

.link-side:hover{
  & img{      
    transform: scale(1.1);
  }
}
.link-Active{
  background: #0195AC;
}



.mcd-menu li ul,
.mcd-menu li ul li ul {
  position: absolute;
  height: auto;

  padding: 0;
  margin: 0;

  background: #4adef5;
  list-style: none;
  opacity: 0;
  visibility: hidden;

  z-index: 999;
  left:169px;
  
  top: 0px;
  border-left: 4px solid #007486;


}
.mcd-menu li ul li a .link-side_hijos:hover{
  background: #0195AC
}

.mcd-menu li ul:before {
  content: "";
  position: absolute;
  top: 40px;
  left: -9px;
  border-right: 5px solid #007486;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;

}

.mcd-menu li:hover > ul,
.mcd-menu li ul li:hover > ul {
  display: block;
  opacity: 1;
  visibility: visible;
  animation: grow-shrink 500ms ease-in-out both;

}

@keyframes grow-shrink {
  
  0% {
    scale: 98%;
    opacity: 0;
  }

  100% {
    opacity: 1;
    scale: 100%;
  }
} */