.table{

    width: 100%;
    thead, tbody{
        display: block;
        border-collapse: collapse;
    }

    tr{
        text-align: left;
    }

    tbody{

        display: block;
        height: 600px;
        /* height: 442px; */
        overflow-y: auto;
        overflow-x: hidden;

    }

    
}
.H4ESPECIAL{
    margin-top: 40px;
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: var(--Medium);
}
.nombreSinCoincidencias{
    color: #00b3cf;
}
.egreso{
    /* rojo */
    content: "";
    /* position: absolute; */
    margin:  0px 0px 0px 0px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #FF0A0A;
}
.ingreso{
    /* amarillo */
       content: "";
    /* position: absolute; */
    /* margin:  0px 0px 0px 0px; */
    margin:  0px 0px 0px 0px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #3EBB12;
}
.inversion{
    overflow-y: auto;
    word-wrap: break-word;
    height: 100%;

    .H4ESPECIAL{
            margin-top: 40px;
            margin-bottom: 12px;
            font-size: 16px;
            font-weight: var(--Medium);
    }

    .card-1{
        width: 422px;
        /* width: 527px; */
        
        margin-top: 45px;
        margin-left: 22px;
        margin-right: 12px;
        margin-bottom: 23px;
        padding: 5px 30px;
    }


    & .container-modulos{
        /* display: grid; */
        grid-template-rows: 370px 390px ;
        & .separacion{
            display: flex;

            & .card{

                & .edicionRegistro{

                    right: 0px;
                    margin-bottom: 14px;
                    & h1{
                        margin-bottom: 0;
                        color: var(--Obligatorio);
                    }
                    & p{
                        color: #9BA1A6;
                        font-size: 11px;
                        margin: 0;
                        letter-spacing: .8px;
                    }
                }

                & .form{
                    
                    & h4{
                        margin-bottom: 12px;
                        font-size: 16px;
                        font-weight: var(--Medium);
                    }

                }

                /* & .busquedaINV{
                    padding: 2px 3px;
                    & img{
                        width: 20px;
                    }
                }
                & .nombreInv{
                    font-size: 14px;
                    font-weight: var(--Normal);
                    margin: auto 0px auto 12px;
                }
                
                & .inputBRK{
                    position: relative;
                    & span {
                        position: absolute;
                        top: 6px;
                        left: 10px;
                        font-size: 15px;
                    }
                    & input{
                        padding: 0 0 0 42px;
                        width: 150px;
                        margin-right: 8px;
                    }
                } */
                & .Proveedor > select:invalid,
                .Concepto > select:invalid,
                .cuentaPago > select:invalid
                {
                    background: #BBBBBB ;
                    color: transparent;
                    background-clip: text;
                }

                & select option{
                    background: #ffffff;
                }


                & .Proveedor{
                    width: 205px;
                    margin-right: 12px;
                    & select{
                        text-overflow: ellipsis;
                    }
                }
                & .Concepto{
                    width: 205px;
                    & select{
                        text-overflow: ellipsis;
                    }
                }
                & .Monto{
                    width: 194px;
                    margin-right: 12px;
                    
                }
                & .cuentaPago{
                    /* margin-left: 292px; */
                    width: 205px;
                    & select{
                        text-overflow: ellipsis;
                    }

                }

                & .observaciones{
                    width: 405px;
                    height: 100px;
                }

                & .boxComprobante{
                    margin-top: 30px;
                    justify-content: space-between;
                }
                & .AgregaComprobantes{
                    width: 420px;
                    margin-bottom: 6px;
                    & .cerrar-file{
                        right: 30px;
                    }
                }
                
                & .btnsRegistro{
                    position: absolute;
                    bottom: 19px;
                        & .G-C-Registro{
                            width: 423px;
                            height: 30px;
                            margin-bottom: 6px;
                        }
                    }

            }

/* -------------------------------------------------------------------------------------------------------------------------------------- */
            & .InformaciónAdicional-Busqueda{
                
                & .tabsNavAncho{
                    width: 705px;
                }

                & .Tipo_Movimiento{
                    max-width: 20px;
                    min-width: 20px;
                    padding: 0px 5px 0px 0px ;
                    & div{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                
                }

                & .ConceptoTb{
                    max-width: 100px;
                    min-width: 100px;
                    padding: 6px 8px 6px 8px ;
                }
                & .ClienteTb{
                    max-width: 100px;
                    min-width: 100px;
                    padding: 6px 8px 6px 8px ;
                }
                & .MontoTb{
                    max-width: 100px;
                    min-width: 100px;
                    padding: 6px 8px 6px 8px ;
                }
                & .fechaTb{
                    max-width: 100px;
                    min-width: 100px;
                    padding: 6px 8px 6px 8px ;
                }


                & .BusquedaDiv{
                    & .inputBusqueda{
                        
                        margin-bottom: 19px;
                        
                        & p{
                            font-size: 12px;
                            font-weight: var(--Normal);
                            color: #656565;
                        }
                        
                        & .Nombre-Cliente{
                            width: 440px;
                        }
                    }
                    
                    & .NuevaBusqueda{
                        width: 198px;
                    }
                    
                    & .table{

                        /* width: 100%;
                        thead, tbody{
                            display: block;
                            border-collapse: collapse;
                        }

                        tr{
                            text-align: left;
                        } */

                        tbody{

                            display: block;
                            height: 442px;
                            overflow-y: auto;
                            overflow-x: hidden;

                        }

                /* & .ConceptoTb{
                    max-width: 115px;
                    min-width: 115px;
                    padding: 0px 0px 0px 0px ;
                }
                & .ClienteTb{
                    max-width: 130px;
                    min-width: 130px;
                    padding: 6px 8px 6px 8px ;
                }
                & .MontoTb{
                    max-width: 100px;
                    min-width: 100px;
                    padding: 6px 8px 6px 8px ;
                }
                & .fechaTb{
                    max-width: 80px;
                    min-width: 80px;
                    padding: 6px 8px 6px 8px ;
                } */


                     
                    }

                }

            }
        }
    }
}