
<header>
    <nav class="navbar">
        <div class="container-navbar">
            
            <div class="breadcrumbs">
                <h1 class="bread" href="#">Módulo de control de Finanzas / <span class="crumbs">Inicio</span></h1>
            </div>
            <div class="nav-option">
                
                <a class="nav-link" href="#"> <span class="icono-error"><img src="img-sai/icon-avatar-dash.png" alt="user-option"></span> Usuaio Logueado</a>
            </div>
            <div class="nav-option">
                
                <a class="nav-link" (click)="salir()"><span class="icono-nav"><img src="img-sai/icon-exit.png" alt="logOut-option"></span> Salir</a>
            </div>
            <div class="nav-option">
                
              <a class="nav-link" href="#"><span class="icono-nav"><img src="img-sai/icon-bell.png" alt="user-option"></span> Notificaciones</a>
            </div>
    
        </div>
    </nav>
</header>
