
<!-- <form >
    <div mat-dialog-content class="content">
        <div mat-dialog-title>
            <h5>Ventana Modal</h5>
        </div>
        <div class="row">
            <mat-label>Nombre</mat-label>
            <mat-form-field class="full-width" appearance="outline">
              <input matInput placeholder="Input">
            </mat-form-field>
        </div>
    </div>
</form> -->

<form>
    <div class="content-modalMsg">
        <div class="text-center">
            <h4>
                Módulo Control de Finanzas
            </h4>
        </div>
        <div class="mensaje-modalMsg ">
           <p class="text-justify">{{data.mensaje}}</p>
        </div>
    </div>
</form>