
dialog {
    background: #7c7c7c;
    padding: 10px;
    border-radius: 50px;
  }

.comisionistas{
    /* overflow-y: auto; */
    word-wrap: break-word;
    height: 100%;
    .H4ESPECIAL{
            margin-top: 40px;
            margin-bottom: 12px;
            font-size: 16px;
            font-weight: var(--Medium);
            /* & span{
                color:var(--Obligatorio);
            } */
    }
    .h4RefInt{
        margin-top: 33px;
    }

    .card-1{
        width: 527px;
        
        margin-top: 45px;
        margin-left: 22px;
        margin-right: 12px;
        margin-bottom: 23px;
        padding: 5px 30px;
    }
    .card-2{
        width: 512px;
        margin-top: 45px;
        margin-left: 12px;
        margin-right: 22px;
        margin-bottom: 23px;
        padding: 5px 30px;
    }

    & .container-modulos{
        /* display: grid;
        justify-content: center;
        margin-left: 180px; */
        grid-template-rows: 370px 390px ;
        & .separacion{
            display: flex;
            
            & .card{

                & .edicionRegistro{
                    /* position: absolute; */
                    right: 0px;
                    margin-bottom: 14px;
                    & h1{
                        margin-bottom: 0;
                        color: var(--Obligatorio);
                    }
                    & p{
                        color: #9BA1A6;
                        font-size: 11px;
                        margin: 0;
                        letter-spacing: .8px;
                    }
                }

                & .form-comisionista{
                    
                    
                    & h4{
                        margin-bottom: 12px;
                        font-size: 16px;
                        font-weight: var(--Medium);
                    }

                    & .Nombre-Rsocial{
                        width: 283px;
                    }
                    & .RFC{
                        width: 208px;
                    }

                    & .clave{
                        width: 55px;
                        margin-right: 12px;
                    }
                    & .numTel{
                        margin-right: 12px;
                        width: 215px;
                    }
                    & .CorreoElectronico{
                        width: 276px;
                    }
                    & .Calle{
                        width: 214px;
                        margin-right: 12px;
                    }
                    & .Numero{
                        width: 73px;
                        margin-right: 12px;
                    }
                    & .NumeroInt{
                        width: 88px;
                        margin-right: 12px;
                    }
                    & .CP{
                        width: 92px;
                    }
                    & .Estado{
                        width: 145px;
                        margin-right: 12px;
                        /* bottom: 1px; */
                        z-index: 10;
                    }
                    & .Municipio{
                        width: 175px;
                        /* max-width: 154px;
                        min-width: 154px; */
                        /* bottom: 1px; */
                        margin-right: 12px;
                        left: 187px;
                        z-index: 5;
                    }
                    & .Colonia{
                        width: 171px;
                        margin-left: 344px;
                    }
                    & .NomRefInt{
                        width: 315px;
                    }
                    & .NomRefIntDiv{
                        margin-bottom: 48px;
                        
                        & select:invalid{
                            background: #BBBBBB ;
                            color: transparent;
                            background-clip: text;
                        }
                    }
                    & .Comprobante-identificacion-Oficial{
                        margin-top: 15px;
                        justify-content: space-between;
                    }

                    & .AgregaComprobantes{
                        width: 256px;
                        margin-bottom: 6px;
                    }

                    .comprobantes{
                        font-size: 10px;
                        font-weight: var(--Medium);
                        
                        & p{
                            margin: 0;
                            color: #BBBBBB;
                        }
                    }

                    & .Calle::placeholder,
                    .Colonia::placeholder
                    {
                        background: linear-gradient(90deg, var(--Obligatorio) 6px, #BBBBBB 6px);
                        color: transparent;
                        background-clip: text;
                    }
                    & .Numero::placeholder{
                        background: linear-gradient(90deg, var(--Obligatorio) 12px, #BBBBBB 12px);
                        color: transparent;
                        background-clip: text;
                    }
                    & .CP::placeholder{
                        background: linear-gradient(90deg, var(--Obligatorio) 40px, #BBBBBB 40px);
                        color: transparent;
                        background-clip: text;
                    }
                }

                
            }

            & .InformaciónAdicional-Busqueda{
                
                & .tabsNavAncho{
                    width: 605px;
                }
                & .InformaciónAdicional{
    
                    & .h1FechaEmision{
                        font-size: 16px;
                        font-weight: var(--Medium);
                        margin-top: 26px;
                        margin-bottom: 10px;
                    }

                    .H4formInfoAdicional{
                        margin-top: 15px;
                        margin-bottom: 12px;
                        font-size: 16px;
                        font-weight: var(--Medium);
                        /* & span{
                            color:var(--Obligatorio);
                        } */
                    }
                    & .FechaEmision{
                        width: 205px;
                        height: 20px;
                    }
                    
                    & .numClave{
                        width: 255px;
                    }

                    & .NomBanco{
                        width: 254px;
                    }
                    & .btnsRegistro{
                        position: absolute;
                        bottom: 19px;
                        /* margin-top: 252px; */
                        & .G-C-Registro{
                            width: 545px;
                            height: 30px;
                            margin-bottom: 6px;
                        }
                    }
                    /* & .btnsRegistro{
                        margin-top: 252px;
                        & .G-C-Registro{
                            width: 545px;
                            margin-bottom: 6px;
                        }
                    } */
                     
                    & .TipoCuenta{
                        width: 273px;
                    }
                    & .selectTipoCuenta > select:invalid{
                        background: #BBBBBB ;
                        color: transparent;
                        background-clip: text;
                      }
                      & select option{
                        background: #ffffff;
                      }
                      & .selectTipoCuenta{
                        width: 260px;
                      }
                      & .No-Fecha-Targeta{
                        width: 260px;
                      }
                      & .InstitucionBancaria{
                        width: 246px;
                      }
 

                }

/* -------------------------------------------------------------------------------------------------------------------------------------- */

                & .BusquedaDiv{
                    

                    & .inputBusqueda{

                        margin-bottom: 19px;

                        & p{
                            font-size: 12px;
                            font-weight: var(--Normal);
                            color: #656565;
                        }

                        & .Nombre-Cliente{
                            width: 440px;
                        }
                    }

                    & .NuevaBusqueda{
                        width: 198px;
                    }

                    & .table{
                        /* width: 3px; */
                        /* background: #00B3CF; */
                        width: 100%;
                        thead, tbody{
                            display: block;
                            border-collapse: collapse;
                        }

                        tr{
                            text-align: left;
                        }

                        tbody{

                            display: block;
                            /* height: 200px; */
                            height: 442px;
                            overflow-y: auto;
                            overflow-x: hidden;
                            /* background: #0e0a33; */
                        }

                        & .Nombre{
                            max-width: 140px;
                            min-width: 140px;
                            padding-left: 0px ;
                        }
                        & .Codigo{
                            max-width: 60px;
                            min-width: 60px;
                            padding-left: 0px;
                        }
                        & .TipCliente{
                            max-width: 90px;
                            min-width: 90px;
                            padding-left: 8px;
                        }
                        & .CorreoElect{
                            max-width: 160px;
                            min-width: 160px;
                            padding-left: 2px;
                            padding-right: 10px;
                        }
                    }

                }

            }
        }
    }
}


