
<div class="comisionistas">
    <div class="container">
        <div class="separacion">
            <div class="card-1 card">
                <div class="d-flex">
                    <div class="col-7" [hidden]="editar ? false : true">
                        <h1 class="h1TitleCard">Agregar Comisionista</h1>
                        <!-- <button (click)="portafolioInvercion( 568 )" >ver</button>  -->
                    </div>

                    <div class="col-5- edicionRegistro col-7" [hidden]="editar ? true: false">
                        <h1 class="h1TitleCard"><img src="/img-sai/icon-edicion-de-registro.png" style="width: 20px;">Edición de Registro</h1>
                        <p>Los cambios afectarán el registro</p>
                    </div>
                </div>
                <span>{{Hoy}}</span>

                <form [formGroup]="formulario()">
                    <div class="form-check">
                        <div class="check">
                            <label  class="form-check-label" >Persona Física</label>
                            <label class="label-container" >
                                <input type="radio" #radioBtn1 (change)="formulario().patchValue({'fisica_moral':true})" checked name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="check Second-check">
                            <label  class="form-check-label" >Persona Moral</label>
                            <label class="label-container" >
                                <input type="radio" #radioBtn2 (change)="formulario().patchValue({'fisica_moral':false})" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </form>

                <form class="form-comisionista" [formGroup]="formulario()">
                    <div class="d-flex">
                        <div class="col-7">
                            <h4 class="H4ESPECIAL"><span [classList]="formulario().get('nombre')?.valid ? 'Obligatiro-is-valid':'Obligatiro-is-invalid'" >*</span> Nombre o Razón social</h4>
                            <input class="Nombre-Rsocial" type="text" formControlName="nombre" placeholder="Nombre ó Razón social">
                        </div>
                        <div class="col-5">
                            <h4 class="H4ESPECIAL">RFC</h4>
                            <input class="RFC" type="text" formControlName="RFC" placeholder="Registro federal de Causantes">
                        </div>
                    </div>

                    <div class="d-flex">
                        <div>
                            <h4><span [classList]="formulario().get('telefono')?.valid ? 'Obligatiro-is-valid':'Obligatiro-is-invalid'" >*</span> No. telefónico</h4>
                            <div>
                                <!-- <input class="clave" type="text"  placeholder="Clave"> -->
                                <input class="numTel" type="text" formControlName="telefono" placeholder="Clave + Número telefónico">
                            </div>
                        </div>
                        <div>
                            <h4><span [classList]="formulario().get('correo')?.valid ? 'Obligatiro-is-valid':'Obligatiro-is-invalid'">*</span> Correo</h4>
                            <input type="text" class="CorreoElectronico" formControlName="correo" placeholder="Correo electrónico" >
                        </div>
                    </div>

                    <!-- <div class="row"> -->
                        <div class="mb-12">
                            <h4>Dirección</h4>
                            <input class="Calle PlaceHolderObligatorio-" formControlName="Calle" type="text" placeholder="* Calle">
                            <input class="Numero text-center Not-padding" type="text" formControlName="No_Exterior" placeholder="Número">
                            <input class="NumeroInt text-center Not-padding" type="text" formControlName="No_Interior" placeholder="Número Int.">
                            <input class="CP text-center Not-padding" type="text" formControlName="CP" placeholder="C.P">
                        </div>

                        <div class="">

                            
                            <!-- <select required #Estado class="Estado" formControlName="Id_Estado" (change)="Municipio()">
                                <option value="" disabled selected hidden>* Estado</option>
                                @for(item of arrayEstado[0]; track $index ){
                                    <option [value]="item.Id_Estado">{{item.Estado}}</option>
                                }
                            </select> -->

                            <!-- <select required #mySelect class="Municipio" id="Municipio" formControlName="Id_Municipio">
                                <option value="" disabled selected hidden>* Municipio</option>
                                @for(item of arrayMunicipio[0]; track $index ){
                                    <option [value]="item.Id_Municipio">{{item.Municipio}}</option>
                                }
                            </select> -->

                            <div class="select Estado">
                                <span class="spanExedioCaractereSelect" id="estado" [ariaSelected]="true" [hidden]="selectEstado">...</span>
                                <select required #Estado class="Estado-" formControlName="Id_Estado" (change)="Municipio( $event )">
                                    <option value="" disabled selected hidden>* Estado</option>

                                    @for(item of arrayEstado[0]; track $index ){
                                        <option [value]="item.Id_Estado">{{item.Estado}}</option>                                    }
                                </select>
                            </div>

                            <div class="select Municipio">
                                <span class="spanExedioCaractereSelect" id="municipio" [hidden]="selectMunicipio">...</span>
                                <select required #mySelect class="Municipio-" formControlName="Id_Municipio" (change)="SeleccionMunicipio( $event )">
                                <!-- <select required #mySelect class="selection" formControlName="Id_Municipio" onmousedown="if(this.options.length>10){this.size=10, this.style.marginTop='30px' }else{this.size=this.options.length-1, this.style.marginTop='30px' , this.style.overflow = 'hidden'}" onchange="this.size=0, this.style.marginTop='0px';" onblur="this.size=0, this.style.marginTop='0px';"> -->
                                    <option value="" disabled selected hidden>* Municipio</option>
                                    @for(item of arrayMunicipio[0]; track $index ){
                                        <option  [value]="item.Id_Municipio">{{item.Municipio}}</option>
                                    }
                                </select>
                            </div>

                            <input class="Colonia" type="text" formControlName="Colonia" placeholder="Colonia">
                        </div>
                    <!-- </div> -->

                    <div class="NomRefIntDiv">
                        <h4 class="h4RefInt"><span [classList]="formulario().get('Referido')?.valid ? 'Obligatiro-is-valid':'Obligatiro-is-invalid'" >*</span> Referencia interna</h4>
                        <div class="select NomRefInt">
                            <span class="spanExedioCaractereSelect" id="estado" [ariaSelected]="true" [hidden]="selectEstado">...</span>
                            <select required #comisionistaReferido class="Estado-" formControlName="Referido">
                                <option value="" disabled selected hidden>Nombre de la referecia interna</option>

                                @for(item of ComisionistaReferido[0]; track $index ){
                                    <option [value]="item.Nombre_Razon_Social">{{item.Nombre_Razon_Social}}</option>                                    
                                }

                            </select>
                        </div>
                        <!-- <input class="NomRefInt" type="text" formControlName="Referido" placeholder="Nombre de la referecia interna"> -->
                    </div>

                    <div class="comprobantes">
                        <div class="row ">
                            <h4><span [classList]="formulario().get('Comprobante_domicilio')?.valid && formulario().get('INE')?.valid ? 'Obligatiro-is-valid':'Obligatiro-is-invalid'">*</span> Comprobantes</h4>
                            <p>* Las imágenes individualmente no deben superar 1MB</p>
                            <p>* Son válidos para la carga de imágenes los formatos: jpeg, png y pdf </p>
                        </div>
                    </div>

                    <div class="d-flex Comprobante-identificacion-Oficial">

                        <div class="inputfile-box AgregaComprobantes">
                            <input type="file" #FileDomicilio id="fileDomicilio" class="inputfile" (change)='uploadDomicilio($event)' accept="application/pdf">
                            <label for="fileDomicilio" class="Labelfile">
                                <span class="file-button">Agregar comprobante de Domicilio</span>
                            </label>
                            
                            <span class="file-box">
                                <div class="boxNameCargaDomicilio disabledBox" id="boxNameCargaDomicilio">
                                    <input type="text" #inputDomicilio id="file-Domicilio" class="boxName" disabled="true">
                                    <span class="cerrar-file text-center" (click)="eliminarBoxIdenficacion()">x</span>
                                </div>
                            </span>
                        </div>

                        <div class="inputfile-box AgregaComprobantes">
                            <input type="file" #FileIdentificacion id="fileIdentificacion" class="inputfile" (change)='uploadIdentificacion($event)' accept="application/pdf">
                            <label for="fileIdentificacion" class="Labelfile">
                                <span class="file-button">Agregar identificación oficial</span>
                            </label>
                            
                            <span class="file-box">
                                <div class="boxNameCargaIdentificacion disabledBox" id="boxNameCargaIdentificacion">
                                    <input type="text" #inputIdentificacion id="file-Identificacion" class="boxName" disabled="true">
                                    <span class="cerrar-file text-center" (click)="eliminarBoxIdentificacion()">x</span>
                                </div>
                            </span>

                        </div>
                        
                    </div>

                </form>

            </div>

            <form class="InformaciónAdicional-Busqueda" [formGroup]="formulario()">

                <div class="tabsNav tabsNavAncho">
                    
                    <div class="tab">
                        <!-- <input type="radio" name="tabs" id="t1" > -->
                        <input type="radio" #TabsInformacion name="tabs" id="t1" checked>
                        <label class="Extra" for="t1" >Información Adicional</label>

                        <div class="InformaciónAdicional DivContainer">
                            <h1 class="h1TitleCardTab">Alta de Contrato</h1>
                            <h4 class="h1FechaEmision">Fecha de emisión</h4>
                            <input  [classList]="Piker ? 'custom-date-picker FechaEmision mr-12 btnInActivo':'custom-date-picker FechaEmision mr-12 btnActive'" type="date" formControlName="Fecha_contrato" #FechaContrato>

                            <div class="d-flex">
                                <div class="mr-12">
                                    <h4 class="H4formInfoAdicional">Cuenta CLABE</h4>
                                    <input class="numClave" type="text" maxlength="23" placeholder="18 dígitos" (input)="soloDigito( $event, 3 )" (change)="remplazaDigito( $event, 'CLABE' )">
                                </div>
                                <div class="col-">
                                    <h4 class="H4formInfoAdicional">Institución Bancaria asociada</h4>
                                    <input class="NomBanco" type="text" formControlName="banco_cuenta" placeholder="Nombre del banco">
                                </div>
                            </div>

                            <div class="d-flex">
                                <div class="mr-12">
                                    <h4 class="H4formInfoAdicional">Tarjeta bancaria asociada</h4>
                                    <input class="numClave" type="text" maxlength="23" placeholder="18 dígitos" (input)="soloDigito( $event, 3 )" (change)="remplazaDigito( $event, 'tarjeta' )">
                                </div>
                                <div class="col-">
                                    <h4 class="H4formInfoAdicional">Institución Bancaria emisora</h4>
                                    <input class="NomBanco" type="text" formControlName="Banco_tarjeta" placeholder="Nombre del banco">
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="mr-12">
                                    <h4 class=" H4formInfoAdicional">Tarjeta Fincash asociada</h4>
                                    <input class="numClave" type="text" maxlength="19" placeholder="16 dígitos" (input)="soloDigito( $event, 4 )" (change)="remplazaDigito( $event, 'fincash' )">
                                </div>
                            </div>

                            <div class="d-flex btnsRegistro">
                                <div class="row ">
                                    <button type="submit" (click)="enviar()" [hidden]="editar ? false:true" [classList]="formulario().valid ? 'btn G-C-Registro btnInActivo':'btn G-C-Registro btnActive'" >GUARDAR REGISSTRO</button>
                                    <button type="submit" (click)="ActualizarRegistro()" [hidden]="editar ? true:false" [classList]="formulario().valid ? 'btn G-C-Registro btnInActivo':'btn G-C-Registro btnActive'" >ACTUALIZAR CAMPOS</button>
                                    <button class="btn-second G-C-Registro mr-12" type="button" (click)="resetForm()">CANCELAR</button>
                                </div>
                            </div>
                        </div>                      
                    </div>
                    
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------ -->

                    <div class="tab">
                        <input type="radio" #TabsBusqueda name="tabs" id="t2">

                        <label class="Busqueda" for="t2">Búsqueda</label>
                        <div class="BusquedaDiv DivContainer">
                            <h1 class="h1TitleCardTab">Búsqueda</h1>
                                <div class="inputBusqueda">
                                    <p>Para hacer una búsqueda basado en el Nombre, número de Cliente o Correo electrónico</p>
                                    <input class="Nombre-Cliente" #Busqueda type="text" placeholder="Nombre ó número de Cliente " (input)="inputBusqueda($event)">
                                </div>
                                <div class="">
                                    <button class="btn NuevaBusqueda mr-12" (click)="busqueda()" [disabled]="disabledBtn" [classList]="disabledBtn ? 'btn NuevaBusqueda mr-12 btnActive':'btn NuevaBusqueda mr-12 btnInActivo'" type="button">Nueva búsqueda</button>
                                </div>
                                <h1 class="h1TitleCardTab">Coincidencias</h1>

                                <div class="TableBusqueda">
                                    <table class="table">
                                        <thead>
                                          <tr>
                                            <th class="thead-th-blod-No-Border th-just-left Nombre">Nombre</th>
                                            <th class="thead-th-blod-No-Border th-just-left Codigo">Código</th>
                                            <th class="thead-th-blod-No-Border th-just-left TipCliente">Tipo de Cliente</th>
                                            <th class="thead-th-blod-No-Border th-just-left CorreoElect">Correo electrónico</th>
                                            <th class="thead-th-blod-No-Border "></th>
                                            <!-- <th class="thead-th-blod-No-Border "></th> -->
                                          </tr>
                                        </thead>
                                        <tbody class="">
                                            @for( item of listaBusqueda[0]; track $index ){
                                                <tr>
                                                    <td class="tbody-td-ligth-No-Border AdeudoEurope-Monte Nombre">{{item.Nombre_Razon_Social}}</td>
                                                    <td class="tbody-td-ligth-No-Border AdeudoEurope-Monte Codigo">{{item.Num_Comisionista}}</td>
                                                    <td class="tbody-td-ligth-No-Border AdeudoEurope-Monte TipCliente">{{item.TipoCliente}}</td>
                                                    <td class="tbody-td-ligth-No-Border AdeudoEurope-Monte CorreoElect">{{item.Correo}}</td>
                                                    <td class=""><button type="button" [disabled]="item.BRK ? true:false" (click)="portafolioInvercion( item.Id_ICPC )" class="TdOptionsTable"><img [src]="item.BRK ?  '/img-sai/icon-Brief-disabled-35.png' : '/img-sai/icon-Brief.png'  " ></button></td>
                                                    <td class=""><button type="button" (click)="verDatosComisionista( item.Id_ICPC )" class="TdOptionsTable"><img src="/img-sai/ojito_abierto.png"></button></td>
                                                    <td class=""><button type="button" (click)="editarComisionista( item.Id_ICPC )" class="TdOptionsTable"><img src="/img-sai/icon-edith.png"></button></td>
                                                    <td class=""><button type="button" (click)="eliminarComisionista( item.Id_ICPC )" class="TdOptionsTable"><img src="/img-sai/icon-trash.png"></button></td>
                                                </tr>
                                            }
                                        </tbody>
                                      </table>
                                </div>
                        </div>
                    </div>
                    
                </div>

            </form>

        </div>
    </div>
</div>