<div class="error">
    <div class="container">
        <div class="error404">
            <img src="img-sai/404.svg" alt="Error404">
            <p class="msj-Log"><strong>{{userLog}}</strong> fijate que estás haciendo...</p>
            <div class="btn-volver">
                <button class="btn-volver-error" (click)="volver()"><span class="icono-error"><img src="img-sai/icon-flecha-404.png" alt="error404"></span>Volver</button>
            </div>
        </div>
        <div></div>
    </div>
</div>
