/* You can add global styles to this file, and also import other style files */
:root{
    /* font-weight tipografias */
    --Thin:100;
    --Extra-Light:300;
    --Light:300;
    --Normal:400; /* Regular */
    --Medium:500;
    --Semi-Bold:600;
    --Bold:800;
    --Extra-Bold:900;
    --Obligatorio:#FF9900 ;
}
.d-flex{
    display: flex;
}
.row{
    display: flex;
    flex-direction: column;
}
.mb-12{
    margin-bottom: 12px;
}
.mr-12{
    margin-right: 12px;
}
.mt-15{
  margin-top: 15px;
}
.mb-6{
    margin-bottom: 6px;
}
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 24.99%;
}
.col-4{
    width: 33.32%;
}
.col-5{
    width: 41.65%;
}
.col-6{
    width: 49.98%;
}
.col-7{
    width: 58.31%;
}
.col-8{
    width: 66.64%;
}
.col-9{
    width: 74.97%;
}
.col-10{
    width: 83.3%;
}
.col-11{
    width: 91.36%;
}
.col-12{
    width: 99.96%;
}

.text-center{
  text-align: center;
}
.Not-padding{
  padding: 1px !important;
}
.text-left{
  text-align: left;
}
.justify-content-around{
  justify-content: space-around;
}
.justify-content-between{
  justify-content: space-between;
}
.justify-content-evenly{
  justify-content: space-evenly;
}
.text-justify{
  text-align: justify;
}

.Obligatiro-is-valid{
  display: none;
}

.Obligatiro-is-invalid{
  color:var(--Obligatorio);
}

body{
    margin:0 !important;
    padding: 0 !important;
    font-family: 'Roboto';
    background: #00B3CF;
    overflow-y: hidden;
}

.card{
    padding: 16px 12px;
    position: relative;
    background: #ffffff;
    border: none;
    z-index: 100;
    border-radius: 2px;
    box-shadow: 0px 5px 10px #00000040;
    height: 690px;
    /* height: 670px; */
}

/* ---------------Botones---------------- */
.btn{
        height: 28px;
        font-size: 12px;
        font-weight: var(--Normal);
        color: #ffffff;
        border: 1px solid #00B3CF;
        background-color: #00B3CF;
        cursor: pointer;
}


.btnActive{
  background: #BBBBBB !important;
  border: none;
  cursor:default;
}
.btnInActivo{
  background: #00B3CF;
}
.btn-second{
    height: 28px;
    margin-bottom: 6px;
    font-size: 12px;
    font-weight: var(--Normal);
    background-color: #ffffff;
    border: 1px solid #00B3CF;
    color: #00B3CF;
    cursor: pointer;
}
.TD_Option{
  padding: 0 !important;
  & .TdOptionsTable{
      width: 20px;
      height: 20px;
      margin: 0 5px 0 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      cursor: pointer;
      border: none;
      background: none;
      & img{
          width: 15px;
          height: 15px;
      }
  }
}
.TableBusqueda table tbody tr td:nth-of-type(6){
    padding-left: 3px;
}

/* ---------------Inputs---------------- */
input[type="text"], input[type=number]{
    border: 1px solid #00B3CF;
    height: 27px;
    font-size: 15px;
    padding-left: 8px;

}
input[type="text"]:focus, input[type=number]:focus{
    border:1px solid #D8D8D8;
    background-color: #D8D8D8;
    outline: none;
}
input[type="text"]::placeholder{
    font-size: 14px;
    color: #BBBBBB;
}

/* .PlaceHolderObligatorio input[type="text"]::placeholder{
    background: linear-gradient(90deg, var(--Obligatorio) 6px, #BBBBBB 6px);
    color: transparent;
    background-clip: text;
} */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] { 
  -moz-appearance:textfield; 
}

.inputInActive{
  background: #D8D8D8;
  border:1px solid #D8D8D8 !important;
  user-select: none;
}

/* .inputActive{} */


/* -------------------Modal Mensaje------------------- */

/* mat-dialog-container { */
  /* background-color: rgb(255, 113, 47); */
  /* border-radius: 0px; */

/* } */
 
.mat-mdc-dialog-container {
  --mdc-dialog-container-shape: 0px;
  --mdc-dialog-container-color: none;
}

/* ::ng-deep .mat-mdc-dialog-container {
  --mdc-dialog-container-color: #c9e4d9;
} */

/* -------------------Select Option------------------- */




/* select {
  position: relative;
  appearance: none;
  border: 0;
  box-shadow: none;
  flex: 1;
  border: 1px solid #00B3CF;
  padding: 6px 2.1em 6px 7px ;
  color: #303030;
  background-image: none;
  cursor: pointer;
  max-width: 100% ;
  }  */
  
  /* .scuare{
      position: absolute;
      content: "";
      width: calc(100% - 2px);
      height: 27px;
      border: 1px solid #00B3CF;
  }
  select {
    position: relative;
    appearance: none;
    border: 0;
    box-shadow: none;
    flex: 1;
    border: 1px solid #00B3CF;
    padding: 6px 2.1em 6px 7px ;
    color: #303030;
    background-image: none;
    cursor: pointer;
    max-width: 100%;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='180 -360 600 1200'%3E%3Cpath d='M1015 10q-10-10-23-10t-23 10L512 492 55 10Q45 0 32 0T9 10Q0 20 0 34t9 24l480 506q10 10 23 10t23-10l480-506q9-10 9-24t-9-24z'%20fill%3D%27slategray%27/%3E%3C/svg%3E");
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: calc(100% - 7px) center;

  }

  select::-ms-expand {
    display: none;
  }

  select::-webkit-scrollbar{
    width: 10px;
  }

  select::-webkit-scrollbar-track{
    background: #eeeeee;
  }

  
  select::-webkit-scrollbar-thumb{
      background: #00B3CF;
      border-radius: 50px;
    }

    select:invalid{
      background: linear-gradient(90deg, var(--Obligatorio) 12px, #BBBBBB 12px);
      color: transparent;
      background-clip: text;
    }
    
  select option{
    color: #585858;

  }

  select option:checked {
    box-shadow: 0 0 10px 100px #00B3CF inset;
  }
    select option:hover {
    box-shadow: 0 0 10px 100px #dadada inset;
    }

  select:focus{
    border-color:#00B3CF;
    outline:none;
  }  */


  /* select > option{
    border-color:#00B3CF;
    outline:none;
  } */

/* -------------------------------------------- */
select {
    position: relative;
    appearance: none;
    border: 0;
    box-shadow: none;
    flex: 1;
    border: 1px solid #00B3CF;
    padding: 7px 2.1em 7px 7px ;
    color: #303030;
    background-image: none;
    cursor: pointer;
    max-width: 100%
  }

  .select {
    position: absolute;
    display: flex;
    min-width: 0;
    overflow: hidden;
  }
  
  .spanExedioCaractereSelect{
    position: absolute;
    top: 4px;
    right: 26px;
    z-index: 10;
    width: 16px;
    height: 20px;
    text-align: right;
    color: #575757;
    background: #ffffff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select:none;
    user-select: none;
  }
  /* select::-ms-expand {
    display: none;
  } */

  /* .scrol{
    background: #000;
  } */

  select::-webkit-scrollbar{
    width: 10px;
  }

  select::-webkit-scrollbar-track{
    background: #eeeeee;
  }

  select:invalid{
    background: linear-gradient(90deg, var(--Obligatorio) 12px, #BBBBBB 12px);
    color: transparent;
    background-clip: text;
  }

  select::-webkit-scrollbar-thumb{
    background: #00B3CF;
    border-radius: 50px;
  }

  select option{
    width: 100vw;
    color: #2e2e2e;
    background: #ffffff;
  }

  select option:checked {
    box-shadow: 0 0 10px 100px #00B3CF inset;
  }
    select option:hover {
    box-shadow: 0 0 10px 100px #dadada inset;
    }


  select:focus{
    border-color:#00B3CF;
    outline:none;
  }

  .select::after {
    --size: 0.5rem;
    content: "";
    position: absolute;
    right: 8px;
    pointer-events: none;
  }
  
  .select::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid #00B3CF;
    top: 11px;
  } 

  
/* ---------------Inputs Calendario---------------- */
.custom-date-picker {
    height: 24px;
    font-size: 14px; 
    appearance: none; 
    -webkit-appearance: none;
    position: relative;
    padding: 5px 0px 5px 55px; 
    font-weight: var(--Normal);
    background-color: #00B3CF;
    color: #fff; 
    border: none; 
}
.custom-date-picker:focus{
    outline: none;
}

/* Esto hace que el ícono del calendario original sea invisible y al mismo tiempo se puede hacer clic en él. */
.custom-date-picker::-webkit-calendar-picker-indicator {
    opacity: 0;
    display: block;
    position: absolute;
    left: 20px;
    width: 20px;
    height: 100%;
    cursor: pointer;
}

/* Superposición de icono blanco personalizado */
.custom-date-picker:before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="18" fill="white" viewBox="0 0 19 16"><path class="st0" d="M2.7,14.6c-.9,0-1.5-.2-2-.7s-.7-1.1-.7-2V2.7c0-.9.2-1.5.7-2S1.8,0,2.7,0h10.6c.9,0,1.5.2,2,.7s.7,1.1.7,2v4.2c-.1,0-.3,0-.4,0s-.3,0-.5,0-.3,0-.5,0-.3,0-.5,0v-1.9c0-.3,0-.5-.2-.7s-.4-.2-.7-.2H2.8c-.3,0-.5,0-.7.2s-.2.4-.2.7v6.9c0,.3,0,.5.2.7s.4.2.7.2h7.2c0,.3.1.7.2,1s.3.6.4.9H2.7ZM4.1,9c-.1,0-.2,0-.3,0s0-.1,0-.3v-.5c0-.1,0-.2,0-.3s.2,0,.3,0h.5c.1,0,.2,0,.3,0s0,.1,0,.3v.5c0,.1,0,.2,0,.3s-.2,0-.3,0h-.5ZM4.1,11.4c-.1,0-.2,0-.3,0s0-.1,0-.3v-.5c0-.1,0-.2,0-.3s.2,0,.3,0h.5c.1,0,.2,0,.3,0s0,.1,0,.3v.5c0,.1,0,.2,0,.3s-.2,0-.3,0h-.5ZM6.5,6.6c-.1,0-.2,0-.3,0s0-.1,0-.3v-.5c0-.1,0-.2,0-.3s.2,0,.3,0h.5c.1,0,.2,0,.3,0s0,.1,0,.3v.5c0,.1,0,.2,0,.3s-.2,0-.3,0h-.5ZM6.5,9c-.1,0-.2,0-.3,0s0-.1,0-.3v-.5c0-.1,0-.2,0-.3s.2,0,.3,0h.5c.1,0,.2,0,.3,0s0,.1,0,.3v.5c0,.1,0,.2,0,.3s-.2,0-.3,0h-.5ZM6.5,11.4c-.1,0-.2,0-.3,0s0-.1,0-.3v-.5c0-.1,0-.2,0-.3s.2,0,.3,0h.5c.1,0,.2,0,.3,0s0,.1,0,.3v.5c0,.1,0,.2,0,.3s-.2,0-.3,0h-.5ZM9,6.6c-.1,0-.2,0-.3,0,0,0,0-.1,0-.3v-.5c0-.1,0-.2,0-.3,0,0,.2,0,.3,0h.4c.1,0,.2,0,.3,0s0,.1,0,.3v.5c0,.1,0,.2,0,.3s-.2,0-.3,0h-.4ZM9,9c-.1,0-.2,0-.3,0,0,0,0-.1,0-.3v-.5c0-.1,0-.2,0-.3,0,0,.2,0,.3,0h.4c.1,0,.2,0,.3,0s0,.1,0,.3v.5c0,.1,0,.2,0,.3s-.2,0-.3,0h-.4ZM9,11.4c-.1,0-.2,0-.3,0,0,0,0-.1,0-.3v-.5c0-.1,0-.2,0-.3,0,0,.2,0,.3,0h.4c.1,0,.2,0,.3,0s0,.1,0,.3v.5c0,.1,0,.2,0,.3s-.2,0-.3,0h-.4ZM15,15.9c-.5,0-1.1-.1-1.5-.3s-.9-.5-1.3-.9-.7-.8-.9-1.3-.3-1-.3-1.5.1-1.1.3-1.5.5-.9.9-1.3.8-.7,1.3-.9,1-.3,1.5-.3,1.1.1,1.6.3.9.5,1.3.9.7.8.9,1.3.3,1,.3,1.6-.1,1.1-.3,1.5-.5.9-.9,1.3-.8.7-1.3.9-1,.3-1.5.3ZM11.4,6.6c-.1,0-.2,0-.3,0s0-.1,0-.3v-.5c0-.1,0-.2,0-.3s.2,0,.3,0h.5c.1,0,.2,0,.3,0s0,.1,0,.3v.5c0,.1,0,.2,0,.3s-.1,0-.3,0h-.5ZM13.2,12.6h1.9c.2,0,.3,0,.4-.2s.2-.3.2-.4v-2.2c0-.2,0-.3-.2-.4s-.3-.2-.4-.2-.3,0-.4.2-.2.3-.2.4v1.6h-1.3c-.2,0-.3,0-.4.2s-.2.3-.2.4,0,.3.2.4.3.2.4.2Z"/></svg>');
    position: absolute;
    /* right: 10px; */
    left: 20px;
    top: 60%;
    transform: translateY(-50%);
    pointer-events: none;
}

/* ---------------Inputs File (carga de archivos)---------------- */


.inputfile-box{
    width: 200px;
  }
  
  .inputfile {
    display: none;
  }
  
  .Labelfile{
    cursor: pointer;
  }
  
  .file-button {

    display: flex;
    height: 28px;
    font-size: 12px;
    font-weight: var(--Normal);
    color: #ffffff;
    align-items: center;
    justify-content: center;
    background-color: #00B3CF;
    padding: 0px;
    margin-bottom: 6px;
    border: 1px solid #00B3CF;
    width: 100%;   
  }
  
  .file-box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: var(--Normal);
    width: 100%;
    border: 1px solid #00B3CF;
    padding: 0px;
    height: 27px;
/* position: relative; */
  }

  .boxNameCargaDomicilio, .boxNameCargaIdentificacion{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .boxName{
    width: 80%;
    height: 80% !important;
    background: #00b3cf2c;
    font-size: 12px !important;
    font-weight: var(--Normal);
    padding: 0px 25px 0px 8px ;
  }

  .cerrar-file{
    position: absolute;
    right: 15px;
    background: #00b3cf;
    /* background: #00b3cf8a; */
    border-radius: 3px;
    width: 15px;
    color: #ffffff;
    /* color: #272727; */
    cursor: pointer;
  }
  
  .disabledBox{
    display: none;
  }


/* .file-select {
    position: relative;
    display: inline-block;
  }
  
  .file-select::before {
    background-color: #5678EF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Seleccionar'; 
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  .file-select input[type="file"] {
    opacity: 0;
    width: 200px;
    height: 32px;
    display: inline-block;
  }
  
  #src-file1::before {
    content: 'Seleccionar Archivo 55';
  }
  
  #src-file2::before {
    content: 'Seleccionar Archivo 2';
  } */

/* ---------------Elementos H1,H2,H3,H4,H5---------------- */

.h1TitleCard{
    font-size: 20px;
    font-weight: var(--Medium);
    margin-bottom: 9px;
}
.h1TitleCardTab{
    font-size: 20px;
    font-weight: var(--Medium);
    margin-bottom: 9px;
}

/* ---------------TABS-NAV---------------- */
.tabsNav{
    position:relative;
    font-size: 14px;
    width: 512px;
    height: 700px;
    margin-top: 16px;
    margin-left: 12px;
    margin-right: 22px;
    margin-bottom: 23px;
 }
 
 .tabsNav .tab{
    display:block;
    position:absolute;
    width:100%;
    height:100%;
 }

 
 .tabsNav .tab input[type="radio"]{
    display:none;
 }


 
 .tabsNav .tab label{
    display:inline-block;
    position:relative;
    height: 25px;
    z-index:100;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
    padding-top: 4px;
    font-weight: var(--Medium);
    background: #87CFDA;
    border:none;
    border-bottom: none;
    cursor: pointer;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
 }
 .tabsNav .tab .Extra{
    width: 204px;
}

.tabsNav .tab .Busqueda{
     width: 156px;
 }

 .tabsNav .tab:nth-of-type(1) label{
    left: 0;
 }
 
 .tabsNav .tab:nth-of-type(2) label{
    position: absolute;
    left: 213px;
    top: -29px;
 }
 /* .tabsNav .tab:nth-of-type(2) input[type="radio"]:checked + label{
    position: absolute;
    left: 213px;
    top: -30px;
 } */
 
 /* .tabsNav .tab:nth-of-type(3) label{
    left: calc(2 * 75px);
 } */

 .tabsNav .tab .DivContainer{
    position: relative;
    box-sizing:border-box;
    display:none;
    width:100%;
    height:100%;
    background: #ffffff;
    border-radius: 0px 2px 2px 2px;
    border: none;
    padding: 5px 30px;
    box-shadow: 0px 5px 10px #00000040;
 }

 .tabsNav .tab input[type="radio"]:checked + label{
    color: ffffff;
    background: #00B3CF;
    /* border: 1px solid #020202; */
    /* border-bottom: 1px solid #ff0000; */ 
 }
 
 .tabsNav .tab input[type="radio"]:checked ~ .DivContainer{
    display:block;
    z-index: 101;
 }


 .tabsNav .tab:nth-of-type(2){
    position: absolute;
    top: 29px;
 }

  /* .tabsNav .tab input[type="radio"]:checked ~ .tab {
    display: block;
 } */

/* ------------------------------------------------------------------------- */

/* -----------------------Radio Check Perdonalizado------------------------ */
.form-check, .form-check2{
    display: flex;
    margin-top: 15px;
    
}
/* .form-check :nth-child(2){
    margin-left: 35px;
} */
.check{
    position: relative;
    cursor: pointer;
}
.Second-check{
    margin-left: 35px;
}
.form-check-label{
    font-size: 12px;
    font-weight: var(--Bold);
}
.label-container {
    display: flex;
    position: relative; 
    cursor: pointer; 
    justify-content: center;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.label-container input {
    position: absolute;
    top: 5px;
    margin: 0;
    opacity: 0.5;
    cursor: pointer;
}

 .checkmark{
    position: absolute;
    top: 5px;
    left: 10px;
    width: 16px;
    height: 16px;
    margin: 0 calc(50% - 18px);
    background-color: #D9D9D9;
    border-radius: 50%;
}

.label-container input:hover ~ .checkmark {
    background-color: #ccc;
}
/* .label-container input:checked ~ .checkmark {
    background-color: #00B3CF;
} */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

 .label-container input:checked ~ .checkmark:after{
    display: block;
  }

.label-container .checkmark:after {
    top: 2.5px;
   left: 3px;
   width: 10.5px;
   height: 10.5px;
   border-radius: 50%;
   background: #00B3CF;
}

/* ---------------------------------------------- */

.th-just-left{
    text-align: left;
}

.thead-th-blod{
    font-size: 12px;
    font-weight: bold;
    padding: 6px 3px 6px 12px;
    border-bottom: 1px solid #00B3CF;
}
.thead-th-blod-No-Border{
    font-size: 12px;
    font-weight: bold;
    padding: 6px 3px 6px 12px;
}
.tbody-td-ligth{
    font-size: 12px;
    font-weight: 300;
    color: #656565;
    padding: 6px 3px 6px 12px;
    border-bottom: 1px solid #00B3CF;

    & span{
        display: flex;
        justify-content: center;
        text-align: center;
    }
}
.tbody-td-ligth-No-Border{
    font-size: 12px;
    font-weight: 300;
    color: #656565;
    padding: 6px 3px 6px 12px;

    /* & span{
        display: flex;
        justify-content: center;
        text-align: center;
    } */
}

.tbody-td-bold{
    font-size: 14px;
    font-weight: 500;
    color: #000;
    padding: 6px 3px 6px 12px;
    border-bottom: 1px solid #00B3CF;
}

.thead-th-blod-saldos{
    font-size: 12px;
    font-weight: bold;
    padding: 6px 3px 6px 3px;
}
.tbody-td-ligth-saldos{
    font-size: 12px;
    font-weight: 300;
    color: #656565;
    padding: 6px 3px 6px 3px;
    & span{
        display: flex;
        justify-content: center;
        text-align: center;
    }
}
.tbody-td-bold-saldos{
    font-size: 14px;
    font-weight: 500;
    color: #000;
    padding: 6px 3px 6px 3px;
}


.form-group-icon{
    position: relative;

    & .icon{
        position: absolute;
        display: block;
        bottom: .2rem;
        left: .5rem;
    
    }

    & input{
        
        border: 1px solid #939393;
        border-radius: 2px;
        font-size: 12px;
        color: rgb(56, 56, 56);
        font-weight: var(--Normal);
        padding-top:2px ;
        margin: 1px;
        padding-left: 1rem;
    }

    & input[type="text"]:focus{
        border:1px solid #D8D8D8;
        background-color: #D8D8D8;
        outline: none;
    }

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
